:root{
    --primary-text-color:#434455;
    --secondary-text-color:#2E2F42;
    --accent-color:#4D5AE5;
    --nav-color:#404BBF;
    --white-color:#FFFFFF;
    --light-color:#F4F4FD;
    --filters-color:#404BBF;
    --br-color:#E7E9FC;
    --modal-bg:#FCFCFC;
    --form-text-color:#8E8F99;
}

.page {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: var(--white-color);
    color: var(--primary-text-color);
}

.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px){
    .container{
        max-width: 768px;
    }
}

@media screen and (min-width: 1200px){
    .container{
        max-width: 1158px;
    }
}

/* HEDER */
.heder {
    border-bottom: 1px solid var(--br-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media screen and (max-width: 767px){
    .heder{
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
@media screen and (min-width: 768px){
    .heder-container {
        display: flex;
        align-items: center;
        gap: 40px;
}
}

@media screen and (max-width: 767px){
    .section-nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
                    
        }
}
@media screen and (min-width: 768px){
.section-nav {
        display: flex;
        align-items: center;
        margin-right: auto; 
        gap: 120px;
    }
}
@media screen and (min-width: 1200px){
.section-nav{
    gap: 76px;
    }
}

@media screen and (max-width: 767px) {
.site-nav{
    display: none;
}
}

@media screen and (min-width: 768px){
.site-nav {
        display: flex;
        gap: 40px;

}
}

.logo {
    color: var(--accent-color);
}

.logo-web {
    color: var(--secondary-text-color);
}

.logo,
.logo-web {
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase
}

.mobile-menu-open {
    border: none;
    background-color: transparent;
    line-height: 0;
}
@media screen and (min-width: 768px){
    .mobile-menu-open{
        display: none;
    }
}

.mobile-menu-icon {
    stroke: var(--secondary-text-color);
}
@media screen and (min-width: 768px){
    .mobile-menu-icon{
        display: none;
    }
}

.list {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.block-list {
    display: block;
    max-width: 100%;
    height: auto;

}

.site-nav .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--secondary-text-color);
    font-weight: 500;

    position: relative;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--nav-color);
}

.site-nav .link.current {
    color: var(--nav-color);
}

.site-nav .link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--nav-color);
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
}


.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--nav-color);
}

@media screen and (max-width: 767px){
    .auth-nav {
        display: none;
}
}
@media screen and (min-width: 768px){
    .auth-nav{
        display: block;
    }
}
@media screen and (min-width: 1200px) {
    .auth-nav {
        display: flex;
        gap: 40px;
    }
}

@media screen and (min-width: 768px) {
    .auth-nav .link {
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
        font-style: normal;
        color: var(--primary-text-color);

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
@media screen and (min-width: 1200px) {
.auth-nav .link {
        font-size: 16px;
        line-height: 1.5;
    }
}

.mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px){
    .mobile-menu{
        display: none;
    }
}
.mobile-menu.is-open {
    /* opacity: 0;
    visibility: hidden;
    pointer-events: none; */
    transform: translateX(0);
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 428px;
    max-height: 796px;
    
    margin-right: auto;
    margin-left: auto;

}

.mobile-menu-nav{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-item:not(:last-child){
    margin-bottom: 40px;
}

.mobile-menu-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color:var(--secondary-text-color);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus{
    color: var(--nav-color);
}

.mobile-menu-contact{
margin-top: auto;
}

.menu-contact-list {
    padding-right: auto;
    margin-bottom: 48px;
}

.menu-contact-item:not(:last-child) {
    margin-bottom: 40px;
}

.menu-contact-link-phone {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
    color: var(--secondary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contact-link-phone:hover,
.menu-contact-link-phone:focus{
    color: var(--nav-color);
}

.menu-contact-link{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.menu-contact-link:hover,
.menu-contact-link:focus {
    color: var(--nav-color);
}

.menu-cocial-list{
    display: flex;
    align-items: center;
    gap: 56px;
    flex-wrap: wrap;

    flex-basis: calc((100% - 168px) / 4);
}

.menu-cocial-item{
    width: 40px;
    height: 40px;
}

.menu-cocial-link{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
    
    color: var(--light-color);
    border-radius: 50%;
    background-color: var(--accent-color);
    
    transition: background-color250ms cubic-bezier(0.4, 0, 0.2,1);
}

.menu-cocial-link:hover,
.menu-cocial-link:focus{
    background-color: var(--filters-color);
}

.menu-cocial-icon{
    fill: currentColor;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: var(--br-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
    background-color: var(--filters-color);
}

.mobile-menu-close:hover.mobile-menu-close-icon,
.mobile-menu-close:focus.mobile-menu-close-icon {
    fill: var(--white-color);
}


/* HERO */
.hero{
    max-width: 428px;
    max-height: 432px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),  url(../images/mobile/mobile-bg.jpg);
    background-color: var(--secondary-text-color);

    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
}

@media screen and (min-device-pixel-ratio:2) and (max-width: 767px), 
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile/mobile-bg@2x.jpg);
    }
}

@media screen and (min-width: 768px){
   .hero{
    max-width: 768px;
    max-height: 436px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet/tablet-bg.jpg);
}
}

@media screen and (min-device-pixel-ratio:2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet/tablet-bg@2x.jpg);
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        max-width: 1440px;
        max-height: 600px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/desktop/desktop-bg.jpg);
        padding-top: 188px;
        padding-bottom: 188px;
    }
}

@media screen and (min-device-pixel-ratio:2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/desktop/desktop-bg@2x.jpg);
    }
}

.hero-title{
        max-width: 320px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        color: var(--white-color);
        
        margin: 0 auto 72px;
    }

@media screen and (min-width: 768px){
    .hero-title {
        max-width: 496px;
        font-weight: 500;
        font-size: 56px;
        line-height: 1.07;
            
        margin: 0 auto 36px;
}
}

@media screen and (min-width: 1200px){
.hero-title {
        margin: 0 auto 48px;
    }
}

.hero-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--white-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    cursor: pointer; 

    padding: 16px 32px;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus{
    background-color:var(--nav-color);
}

/* skills */
.skills{
padding-top: 96px;
padding-bottom: 96px;

}
@media screen and (min-width: 1200px){
.skills{
    padding-top: 120px;
    padding-bottom: 120px;
}
}

@media screen and (min-width: 768px){
.slills-list{
    display: flex;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
}
}

@media screen and (min-width: 1200px) {
    .slills-list {
        flex-wrap: nowrap;
    }
}
@media screen and (max-width: 767px){
.skills-item:not(:last-child) {
        margin-bottom: 72px;
    }
}


@media screen and (min-width: 768px){
    .skills-item{
       flex-basis: calc((100% - 24px) / 2);
}
}

@media screen and (min-width: 1200px){
    .skills-item{
    flex-basis: calc((100% - 72px) / 4);
    margin-bottom: 0;
}
}

@media screen and (min-width: 1200px){
.skills-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    height: 112px;
    background-color: var(--light-color);
}
}

.skills-item-icon{
    display: none;
}
@media screen and (min-width: 1200px){
    .skills-item-icon{
        display: block;
    }
}

.section-sub-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
   
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
    margin-top: 0;

    color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px){
.section-sub-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.skills-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
        
    margin: 0;
}
@media screen and (min-width: 1200px){
    .skills-text{
        font-weight: 400;
        margin-bottom: 0;
    }
}


/* work */
@media screen and (max-width: 1199px){
    .section-work {
        display: none;
}
}

.section-work{
    padding-bottom: 120px;
}

.section-title{
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
    text-align: center;
    color: var(--secondary-text-color);
    
    margin-top: 0;
    margin-bottom: 72px;
}

.work-list{
    display: flex;
    gap: 24px;
}

.work-item{
    flex-basis: calc((100% - 48px) / 3);
}



/* team */
.team{
    /* max-width: 1440px; */
    background-color:var(--light-color);

    padding-top: 96px;
    padding-bottom: 96px;
    margin: 0 auto;
}
@media screen and (min-width: 1200px){
.team{
    max-width: 1440px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
}
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
}

@media screen and (min-width: 768px){
.team-list{
    column-gap: 24px;
    row-gap: 64px;
}
}
@media screen and (min-width: 1200px){
.team-list{
    gap: 24px;
}
}

.team-item {
        flex-basis: calc((100% - 164px)/1);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }

@media screen and (min-width: 768px){
.team-item {
        flex-basis: calc((100% - 210px)/2);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
}
@media screen and (min-width: 1200px){
.team-item {
        flex-basis: calc((100% - 72px)/4);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
}



.card{
    background-color: var(--white-color);
    width: 264px;
    padding: 32px 16px 32px 16px;
    margin: 0;
    text-align: center;
}

.team-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
          
    color: var(--secondary-text-color);
}

.team-text{
    margin: 0 0 8px 0;
}

.team-icon{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-icon-list{
fill: currentColor;
}

.team-icon-item{
    width: 40px;
    height: 40px;
}

.team-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    color: var(--white-color);
    border-radius: 50%;
    background-color: var(--accent-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover, 
.team-icon-link:focus{
    background-color: var(--nav-color);
}

/* customers */
.section-customers{
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1200px){
.section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
}
}

.customers-title{
    margin-top: 0;
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    color:var(--secondary-text-color);
}

.customers-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
}
@media screen and (min-width: 768px){
.customers-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
}
}
@media screen and (min-width: 1200px){
.customers-list{
    flex-wrap: nowrap;
    display: flex;
    gap: 24px;
}
}


.customers-item {
    width: 190px;
    flex-basis: calc((100% - 16px)/2);
}
@media screen and (min-width: 768px){
.customers-item{
    width: 168px;
    flex-basis: calc((100% - 234px)/3);
}
}
@media screen and (min-width: 1200px){
.customers-item {
    width: 168px;
    flex-basis: calc((100% - 120px)/6);
}
}


.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 88px;

    color: #8E8F99;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon{
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover, .customers-link:focus{
    border: 1px solid var(--nav-color);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon{
    color: var(--nav-color);
}

/* footer */
.logo {
    color: var(--accent-color);
}

@media screen and (max-width: 767px){
.logo {
        color: var(--accent-color);
        display: flex;
        justify-content: center;
    }
}


.footer .logo-web {
    color:var(--light-color);
    
}
.footer {
    background-color: var(--secondary-text-color);
    padding: 96px 0 96px 0;
}
@media screen and (min-width: 768px){
.footer {
        padding: 96px 149px 96px 93px;
    }
}
@media screen and (min-width: 1200px){
.footer{
    padding: 100px 0 100px 0;
}
}
@media screen and (max-width: 767px){
.container-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 72px;
    }
}

@media screen and (min-width: 768px){
.container-footer {
        display: flex;
        flex-wrap: wrap;
 }
}
@media screen and (min-width: 1200px){
.container-footer {
    align-items: baseline;
    flex-wrap: nowrap;
    }
}
@media screen and (min-width: 768px){
.footer-left-side {
    margin-right: 24px;
    margin-bottom: 72px;
}
}
@media screen and (min-width: 1200px){
.footer-left-side {
    margin-right: 120px;
    margin-bottom: 0;
}
}

.footer-text{
    color: #E7E9FC;
    margin-top: 16px;
    margin-bottom: 0;
    width: 268px;
}
@media screen and (min-width: 768px){
.footer-text{
    width: 264px;
    }
}
@media screen and (max-width: 767px){
.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
@media screen and (min-width: 1200px){
.footer-social {
    margin-right: 80px;
}
}

.footer-title{
    margin-top: 0;
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--white-color);
}

.social-list {
    display: flex;
    gap: 16px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--light-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
    fill: currentColor;
}

.social-link:hover,
.social-link:focus {
    background-color: #31D0AA;
}
@media screen and (max-width: 767px){
.footer-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
@media screen and (min-width: 768px){
.footer-form{
    display: inline-flex;
    align-items: center;
}
}
@media screen and (min-width: 1200px){
.footer-form{
    display: flex;
    justify-content: flex-end;
}
}

.footer-right-side{
    width: 100%;
}

.footer-form-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
}
@media screen and (min-width: 768px){
    .footer-form-text{
        text-align: left;
    }
}
/* .footer-form-text{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-top: 0;
    margin-bottom: 16px;
} */


.footer-form-input {
    
    width: 100%;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;
    color: var(--white-color);
    background-color: transparent;
    padding-left: 16px;
    margin-bottom: 16px;
    
}
@media screen and (min-width: 768px){
.footer-form-input{
    width: 264px;
    margin-bottom: 0;
    margin-right: 24px;
    }
}
/* @media screen and (min-width: 1200px){
.footer-form-input{
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;
    color: var(--white-color);
    background-color: transparent;
    padding-left: 16px;
    margin-right: 24px;
}
} */


.footer-form-input::placeholder{
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-form-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    color: var(--white-color);
    border-radius: 4px;
    border: none;        
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    padding: 8px 24px;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    gap: 16px;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .footer-form-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    background-color: var(--accent-color);
    color: var(--white-color);
    border-radius: 4px;        
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    padding: 8px 24px;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    gap: 16px;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.footer-form-button:hover,
.footer-form-button:focus{
    background-color: var(--filters-color);
}

.footer-form-icon{
    fill: currentColor;
}

/* portfolio */
.portfolio{
    padding-top: 96px;
    padding-bottom: 120px;
}

.filters-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.button-filters{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--accent-color);
    background-color: var(--light-color);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;

    padding: 12px 24px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filters:hover, .button-filters:focus{
    color: var(--white-color);
    background-color:var(--filters-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item{
    flex-basis: calc((100% - 48px) / 3);
}

.portfolio-link{
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay{
position: relative;
overflow: hidden;
}

.portfolio-overlay-text{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
    background-color: var(--accent-color);
    padding-top: 40px;
    padding-right: 32px;
    padding-left: 32px;
    line-height: 1.5;
    color: var(--light-color);
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-overlay-text,
.portfolio-link:focus .portfolio-overlay-text{
    transform: translate(0, 0);
}

.portfolio-text{
    margin: 0;
    color: var(--primary-text-color);
}

.portfolio-card{
    padding: 32px 0 32px 16px;
    border: 1px solid var(--br-color);
    border-top: none;
}

.portfolio-link:hover, .portfolio-link:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}

/* modal-window */
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    width: 408px;
    background-color: var(--modal-bg);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 72px 24px 24px 24px;
}

.backdrop.is-hidden .modal{
    transform: scale(0);
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: var(--br-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover, .modal-close:focus{
    background-color: var(--filters-color);
}

.modal-close:hover .modal-close-icon, 
.modal-close:focus .modal-close-icon{
    fill: var(--white-color);
}

/* modal-form */
.form-text{
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: var(--secondary-text-color);

    margin-top: 0;
    margin-bottom: 16px;

}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-container{
    margin-bottom: 16px;
}

.modal-form-field {
    display: flex;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--form-text-color);
    margin-bottom: 4px;
}

.user-container{
    display: block;
    position: relative;
    margin-bottom: 8px;
}

.field-text {
    display: block;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--form-text-color);
    margin-bottom: 4px;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding:0 0 0 38px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus{
    border-color: var(--accent-color);
}

.modal-form-input:focus + .form-icon{
    fill: var(--accent-color);
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--secondary-text-color);
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-form-check {
    display: flex;
    align-items: center;
}

.textarea{
    display: block;
    resize: none;
    width: 100%;
    height: 120px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 0;
    padding-right: 0;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus{
    border-color: var(--accent-color);
}

textarea::placeholder{
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-check-text{
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #757575;
    margin-bottom: 24px;
}

.modal-check-link{
    color: var(--accent-color);
}

.user-policy-check{
    display: flex;
    order: -1;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--secondary-text-color);
    border-radius: 2px;
    fill: none;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-form-check:checked + .user-policy-check{
    background-color: var(--nav-color);        
    border: 1.25px solid var(--nav-color);
    fill: #f4f4fd; 
}
.modal-form-submit{
    align-self: center;
    width: 169px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--white-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    cursor: pointer;

    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
}

.modal-form-submit:hover,
.modal-form-submit:focus {
    background-color: var(--nav-color);
}